body.main {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A2B2D;
    background: #2A2B2D ;
    color: #333;

    /* Image  */
    background-image: url(main-bckground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


::-webkit-scrollbar {
    width: 0;
}

/* Animations */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* end */

section.fade-in {
    animation: fadeIn 2s;
}

div.fade-in {
        animation: fadeIn 1s;
    }

    
nav {
        background-color: #202020;
        color: #fff;
        text-align: center;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 170;
}
    
section.introduction {
        width: 1000px;
        margin: 20px auto;
        padding: 20px;
        background-color: #5a5a5a;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


section.about {
    display: flex;
    width: 800px;
    /* margin: 20px auto;
    padding: 20px; */
    max-height: 250px;
    background-color: #5a5a5a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: -100px !important;
}

div.space {
    /* position: absolute; */
    height: 400px;
}

main {
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-top: 100px;
}


.introduction p, .introduction h3, h2 {
    color: #fff;
}

h3.introduction {
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
}

p.intro {
    width: 1000px;
    font-family: Arial, Helvetica;
    font-size: 20px;
}


p.about {
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica;
    color: white;
}

h2.about {
    top: 30px !important;
    color: white;
}

nav a:link,
nav a:visited {
    color: white;
    cursor: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(225, 225, 225);
}

nav a:link:active,
nav a:visited:link:active {
    color: rgb(0, 100, 147);
}


.nav-links {
    width: 360px;
    text-align: right;
    float: right !important;
    padding: 15px;
}

.nav-center {
    width: 1100px;
}

.ADA-white-img {
    width: 60px !important;
    height: 40px !important;
    padding: 5px;
}

.img-link {
    height: 40px;
    width: 60px;
    padding: 0px;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.member {
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    width: 200px;
}


.member img {
    border-radius: 10%;
    width: 100px;
    height: 100px;
}

.team-members a:link,
.team-members a:visited {
    color: white;
    cursor: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}
/* 
.team-members a:active h3,
.team-members a:active p {
    text-decoration: none;
    cursor: pointer;
    color: white;
} */



.team-members a:hover h3,
.team-members a:hover p {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.team-members a:active div {
    text-decoration: none;
    cursor: pointer;
    background-color: #007bff;
}

.team-members a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    transform: translateY(-15px);
    transition: all .2s;
}

.team-members a:active {
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    transform: translateY(-15px);
    transition: all .2s;
}

.team-members a:link:active,
.team-members a:visited:link:active {
    color: rgb(0, 100, 147);
}


.team-member-active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 8px;
    transform: translateY(-10px);
    transition: all .2s;
    z-index: 0;
}
.team-member-active p, .team-member-active h3{
    color: white !important;
}

a:hover.team-member-active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 8px;   
} 

img.about {
    border-radius: 8%;
    width: 280px;
    height: 280px;   
    margin-top: 40px;
    margin-right: -10px;
    z-index: 200;
}

.hidden {
    display: none;
}


div.card {
    display: flex;
    margin-left: 25%;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

/* Hour of code specific designs below */
/* hoc means hour of code */

body.hour-of-code {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #2A2B2D; */
    background-image: url(hoc2023_social.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2A2B2D; 
    color: #333;
}

h1.hoc {
    color: white;
    font-size: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center center;
    animation: color-changing-text 5s linear infinite;
}



section.hoc {
    width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5a5a5a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* display: flex; */
    justify-content: space-between;
}

.hoc h2 {
    font-size: 30px;
}
.line {
    display: flex;
    padding: 20px;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
}

.line.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.line-text {
    padding-top: 20px;
    padding-left: 50px;
    margin-bottom: 70px;
    margin-right: 100px;
    text-align:justify;
}

img.hoc {
    z-index: 100;
}

img.TDV {
    margin-top: 50px;
    border-radius: 12px;
}

.hoc p{
    font-size: 25px;
    color: white;
}


iframe {
    border-radius: 15px;
    border-width: 0;
    margin-top: 30px;
    margin-bottom: 90px;
    z-index: 200;
}

/* Elements from here are related to third page */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A2B2D;
    background: #151515 ;
    color: #333;
}


/* // CHECK THE Website.html FOR INFORMATION ABOUT SCROLL BAR */
#rocket {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* rotate: 180deg; */
}

#rocket-y {
    position: fixed;
    width: 300px;
    max-height: 97%;
    /* border: 1px solid #ccc; */
    /* height: 100%; */
    left: 70px;
    top: 360px;
}

#rocket-flame {
    position: fixed;
    left: 199px;
    top: 60px;
    width: 30px;
    max-height: 97%;
    background: linear-gradient(cyan, blue);
    animation: color-changing 4s linear infinite;
    z-index: 200px;
}

#rocket-flame::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(cyan, blue);
    filter: blur(30px)
}

#rocket-flame::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(cyan, blue);
    filter: blur(30px)
}

div.side-space {
    width: 800px;
}

section.web{
    margin-top: 100px;
    height: 10000px;
    z-index: -1000;
}

div.web-info {
    display: flex;
    padding: 20px;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
    text-align: center;
}

div.web-info.visible {
    margin-left: 700px;
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
}

div.web-info-center {
    padding: 20px;
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
    text-align: center;
}

div.web-info-center.visible {
    margin-left: 700px;
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
}

div.line-web{
    align-items: center; 
    justify-content: center;
}

h1.web-1 {
    width: 900px;
    font-size: 120px;
    text-shadow:
    1px 1px 1px rgb(255, 255, 255);
    color: white;
}

h1.web-2 {
    width: 900px;
    font-size: 90px;
    text-shadow:
    1px 1px 1px rgb(255, 255, 255);
    color: white;
    height: 60px;
}

p.web-2 {
    width: 650px;
    font-size: 30px;
    color: white;
    height: 120px;
}

h1.web-3 {
    width: 750px;
    font-size: 70px;
    text-shadow:
    1px 1px 1px rgb(255, 255, 255);
    color: white;
    height: 60px;
    margin-bottom: 120px;
     
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
 
}

h1.web-3.visible {
    margin-left: 700px;
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
}

p.web-3 {
    width: 750px;
    font-size: 30px;
    color: white;
    height: 120px;
    
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
}


p.web-3.visible {
    margin-left: 700px;
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
}

h1.web-4 {
    /* width: 750px; */

    font-size: 70px;
    text-shadow:
    1px 1px 1px rgb(255, 255, 255);
    color: white;
    height: 60px;
    margin-bottom: 120px;
    width: 2160px;

    /* opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
  */
}


a.web-4 {
    font-size: 45px;
    color: white;
    text-decoration: none;
}

a.web-4:hover {
    color: #007bff;
}

div.second {
    margin-left: 0px;
    text-align: center;

    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
}

div.second.visible {
    /* margin-left: 700px; */
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
    text-align: center;
}

div.third {
    margin-left: 0px;
    text-align: center;

    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.8s ease-out;
    will-change: opacity, visibility;
}

div.third.visible {
    /* margin-left: 700px; */
    opacity: 1;
    transform: none;
    visibility: visible;
    align-content: center;
    text-align: center;
}


